In [108]:
"""Question 1
The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
• Sort the list and find the min and max age
• Add the min age and the max age again to the list
• Find the median age (one middle item or two middle items divided by two)
• Find the average age (sum of all items divided by their number)
• Find the range of the ages (max minus min)"""
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] #creating ages list

In [109]:
ages.sort() #sorting the list
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [110]:
mi,ma=min(ages),max(ages) #findind min,max and assigning them to variables
ages.extend([mi,ma]) #adding min and max again to the list
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [112]:
if len(ages)%2==0:
    median=(ages[len(ages)//2]+ages[(len(ages)+1)//2])/2
else:
    median=ages[(len(ages)-1)//2]
median #calculated the median assigned it to the variable. Could've done it using statistics library

24.0

In [113]:
avg=sum(ages)/len(ages)
avg #Took average by adding ages and dividing it by length using sum(),len()

22.75

In [114]:
ran=ma-mi
ran#range of the list

7

In [115]:
"""Question 2
• Create an empty dictionary called dog
• Add name, color, breed, legs, age to the dog dictionary
• Create a student dictionary and add first_name, last_name, gender, age, marital status,
skills, country, city and address as keys for the dictionary
• Get the length of the student dictionary
• Get the value of skills and check the data type, it should be a list
• Modify the skills values by adding one or two skills
• Get the dictionary keys as a list
• Get the dictionary values as a list"""
dog={} #creating an empty list
dog={'name':'Tommy','color':'black','breed':'german shepard','legs':'hind','age':3}
dog #assigned the given keys with values to the dog variable

{'name': 'Tommy',
 'color': 'black',
 'breed': 'german shepard',
 'legs': 'hind',
 'age': 3}

In [116]:
student={'first_name':"Jashwant","last_name":'Reddy','gender':'M','age':23,'martial arts':'kung-fu','skills':['java','python','c','pyspark','html','css','js'],'country':'India','city':'Hyderabad','address':{'street':'Mallak pet','zipcode':567292}}
student #created a student dictionary and assigned the values

{'first_name': 'Jashwant',
 'last_name': 'Reddy',
 'gender': 'M',
 'age': 23,
 'martial arts': 'kung-fu',
 'skills': ['java', 'python', 'c', 'pyspark', 'html', 'css', 'js'],
 'country': 'India',
 'city': 'Hyderabad',
 'address': {'street': 'Mallak pet', 'zipcode': 567292}}

In [160]:
len(student) #length of the dictionary

9

In [161]:
print(student.get('skills'),type(student.get('skills'))) #content of the skills key and the type of the value in skills key

['java', 'python', 'c', 'pyspark', 'html', 'css', 'BootStrap'] <class 'list'>

In [162]:
student['skills'].pop() #removed the last item of the skills key
student['skills'].append('BootStrap') #added an item to the end of the skills key
student['skills']

['java', 'python', 'c', 'pyspark', 'html', 'css', 'BootStrap']

In [163]:
keys=student.keys() #Getting all the keys of the student dictionary
values=student.values() #Getting values of all the dictionary 
keys,values

(dict_keys(['first_name', 'last_name', 'gender', 'age', 'martial arts', 'skills', 'country', 'city', 'address']),
 dict_values(['Jashwant', 'Reddy', 'M', 23, 'kung-fu', ['java', 'python', 'c', 'pyspark', 'html', 'css', 'BootStrap'], 'India', 'Hyderabad', {'street': 'Mallak pet', 'zipcode': 567292}]))

In [164]:
"""Question 3
• Create a tuple containing names of your sisters and your brothers (imaginary siblings are
fine)
• Join brothers and sisters tuples and assign it to siblings
• How many siblings do you have?
• Modify the siblings tuple and add the name of your father and mother and assign it to
family_members
"""
brothers=('Yashwanth',) #brothers tuple
sisters=('Sakhi',) #sisters tuple
siblings=brothers+sisters #sibings tuple, formed by concatinating brothers and sisters
siblings

('Yashwanth', 'Sakhi')

In [165]:
sib_count=len(siblings)
sib_count #Number of the siblings

2

In [166]:
mother=('swathi',) #mother tuple
father=('swami',)  #father tuple
siblings=siblings+('kiran',) #Although modifying a tuple is not possible, I have modified it by adding another item. 
family_members=siblings+mother+father
family_members

('Yashwanth', 'Sakhi', 'kiran', 'swathi', 'swami')

In [230]:
"""Question 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set it_companies
• Add 'Twitter' to it_companies
• Insert multiple IT companies at once to the set it_companies
• Remove one of the companies from the set it_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set."""
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24] #given variables

In [231]:
len(it_companies) #length of the %set

7

In [232]:
it_companies.add('Twitter')
it_companies#added 'Twitter' to the end of the set

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [233]:
comp=['TCS','Infosys','Bofa'] #multiple companies list
it_companies.update(comp) #adding those companies to the set
it_companies #final set after insertion

{'Amazon',
 'Apple',
 'Bofa',
 'Facebook',
 'Google',
 'IBM',
 'Infosys',
 'Microsoft',
 'Oracle',
 'TCS',
 'Twitter'}

In [234]:
it_companies.remove('Infosys') #Removing the infosys item from the set
it_companies #Set after removing a company

{'Amazon',
 'Apple',
 'Bofa',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'TCS',
 'Twitter'}

discard() function does the same thing as the remove(), expect that the remove() gives error if the item doesn't exist on the other hand discard doesn't.

In [235]:
A.union(B) #Result of joining two sets A and B

{19, 20, 22, 24, 25, 26, 27, 28}

In [236]:
intersection=A.intersection(B)
intersection#intersection of the sets

{19, 20, 22, 24, 25, 26}

In [237]:
A.issubset(B) #Checking if it's a subset

True

In [238]:
A.isdisjoint(B) #Checking if it's a disjoint

False

In [242]:
x=A.union(B) #Joining A with B
y= B.union(A) #Joining B with A
x,y

({19, 20, 22, 24, 25, 26, 27, 28}, {19, 20, 22, 24, 25, 26, 27, 28})

In [248]:
da=A.difference(B) #A-B, difference b/w A and B
db=B.difference(A) #B-A, difference b/w B and A
da,db

(set(), {27, 28})

In [249]:
del A,B #deleting the sets A and B

In [250]:
A,B #checking if the sets still exists

NameError: name 'A' is not defined

In [252]:
ages_set=set(ages) #converting ages into a set
len(ages_set)<len(ages) #comparing lengths of the ages list and set

True

In [257]:
"""Question 5
The radius of a circle is 30 meters.
• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
• Calculate the circumference of a circle and assign the value to a variable name of
_circum_of_circle_
• Take radius as user input and calculate the area."""
import math #imported math library for pi value
r=30
pi=math.pi
_area_of_circle_=pi*r*r #pi*r^2
_circum_of_circle_=2*pi*r #2*pi*r
_area_of_circle_,_circum_of_circle_

(2827.4333882308138, 188.49555921538757)

In [255]:
radius=float(input()) #input for radius
area=pi*r*r
area

4.5

2827.4333882308138

In [258]:
"""Question 6
“I am a teacher and I love to inspire and teach people”
• How many unique words have been used in the sentence? Use the split methods and set
to get the unique words."""

sentence='I am a teacher and I love to inspire and teach people'
words=sentence.split() #splitting the words in the sentence assigning them to a list
len(set(words)) #Taking the length of the set of the words, which is the number of unique words in the sentence as set gives unique values of the list

10

In [263]:
"""Question 7
Use a tab escape sequence to get the following lines.
Name Age Country City
Asabeneh 250 Finland Helsink"""

print('Name\tAge\tCountry City\nAsabeneh\t250\tFinland Helsinki') #Using tab escape character for printing

Name	Age	Country City
Asabeneh	250	Finland Helsinki

In [267]:
"""
Question 8
Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
“The area of a circle with radius 10 is 314 meters square.”
"""
radius=10
area=314 #Variables for formating in the print statement
print('The area of a circle with radius {0} is {1} meters square.'.format(radius,314))

The area of a circle with radius 10 is 314 meters square.

In [272]:
"""
Question 9
Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
kilograms in a separate list using Loop. N: No of students (Read input from user)
Ex: L1: [150, 155, 145, 148]
Output: [68.03, 70.3, 65.77, 67.13]
"""
n=int(input("Number of Students")) #taking input for number of integers
lb=[] #list for weights in lb
for i in range(0,n):
    i=float(input('weight '+str(i+1)+':'))
    lb.append(i) #appending the inputs to the list
kg=[x*0.45359237 for x in lb] #converting the lbs to kgs using for loop
kg

Number of Students3
weight 1:145
weight 2:161.1
weight 3:134

[65.77089365, 73.073730807, 60.781377580000004]